body {
  width: 80%;
  margin: auto;
  background-color: lightgrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  font-size: larger;
  background-color: black;
  color: lightgray;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: #D6EEEE;
}

label {
  font-weight: bold;
}

.formulaire input,
.titre {
  width: 100%;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.titre,
input[type=submit] {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
}

input[type=submit]:hover {
  background-color: darkgray;
}

div {
  width: 60%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}